// global styles
html{
    font-size: 10px;
}
body{
    background-color: var(--bg-black);
    font-family: $font-default;
    font-weight: 400;
    color: var(--white);
    font-size: 1.6rem;
}
button{
    text-transform: uppercase;
    background-color: rgba(0,0,0,.50);
    border: 2px solid #fff;
    border-radius: 4px;
    color: var(--white);
    padding: 15px 20px;
    font-size: 1.2rem;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: .3s ease all;
    cursor: pointer;
    width: 245px;
    &:hover{
        background-color: #fff;
        color: #000;
    }
    svg{
        margin-right: 8px;
    }
}

// Media querie 992px
@media (min-width: 992px) {
    button{
        width: max-content;
        margin-bottom: 0;
    }
}
// 992px