header{
    background-color: var(--black);
    position: relative;
    z-index: 3;    
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }      
    .brand{
        color: var(--red);
        font-family: 'Arial Black', Times;
        font-size: 4.0rem;
    }
    .hamburger{
        display: block;
        position: relative;
        top: 1px;
        right: 5px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        input{
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
            &:checked ~ span{
                opacity: 1;
                transform: rotate(45deg) translate(0, -1px);
            }
            &:checked ~ span:nth-last-child(3){
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            &:checked ~ span:nth-last-child(2){
                transform: rotate(-45deg) translate(0, 1px);
            }
            &:checked ~ div{
                transform: none;
            }                 
        }
        span{
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #fff;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
                &:first-child{
                transform-origin: 0% 0%;
                }
                &:nth-last-child(2){
                transform-origin: 0% 100%;
                }            
        }
    } 
    .nav__link {
        position: absolute;
        z-index: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 75px;
        left: 0;
        align-items: center;
        background-color: var(--black);
        padding: 20px 30px;
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255,255,255,0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        transform: translate(0, 0);
      a {
          display: block;
          padding: 10px 20px;
          text-align: center;
          color: #fff;
          text-decoration: none;
          min-width: 180px;
          &:hover {
            background-color: var(--red);
          }
      }
    }
    .hide {
        transform: translate(-100%, 0);
    }
}




@media (min-width: 576px) {
    header{
        nav{
            display: block;
            a{
                text-decoration: none;
                color: var(--gray);
                margin-right: 10px;
                font-size: 1.6rem;
                transition: all .2s ease-in-out;
                &:hover{
                    color: var(--white);
                }
            }
        }
    
    }
    
}
// 576px


@media (min-width: 992px) {
    header{    
        .nav__link {
            display: block;
            position: static;
            width: auto;
            background: none;
            padding: 0;
            box-shadow: none;
            transform: none;
        }
        .nav__link a {
            display: inline-block;
            padding: 5px 10px;
            min-width: auto;
        }
        .hamburger {
            display: none;
        }
    }
}