:root{
    --red: #E50914;
    --black: #141414;
    --bg-black: #000000;
    --white: #ffffff;
    --gray: #AAAAAA;
}

// Font default for project
// font-weight: 400, 700, 900
$font-default: 'Fira Sans', sans-serif;

