// Import files scss
@import "../../_sass/variables";
@import "../../_sass/reset";
@import "../../_sass/globals";
@import "../../_sass/header";
@import "../../_sass/_footer";
@import "../../_sass/_components/_featured-film";
@import "../../_sass/_components/_carroucel";
